<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>TodoList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <main>
      <section>
        <!-- 一覧表示する画面。登録や削除もこの画面から行う。 -->
        <h1>todolist</h1>
        <!-- //TODO todosテーブルをレコード数分表示する -->
        <div id="contents">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-check">
                  <form action="#" th:action="@{/edit}" method="post">
                    <ul th:each="record : ${allRecords}">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="id"
                        th:value="${record.id}"
                      />
                      <label
                        class="form-check-id"
                        th:text="${record.id}"
                      ></label>
                      <label
                        class="form-check-label"
                        th:text="${record.body}"
                      ></label>
                      <!-- 更新処理画面へ遷移するボタン -->
                      <p>
                        <input type="submit" name="toUpdate" value="更新" />
                      </p>
                      <!-- 更新処理画面へ遷移するボタン -->
                    </ul>
                    <p><input type="submit" name="toRemove" value="削除" /></p>
                  </form>

                  <form
                    action="#"
                    th:action="@{/register}"
                    th:object="${todo}"
                    method="post"
                  >
                    <p>Message: <input type="text" th:field="*{body}" /></p>
                    <p><input type="submit" value="登録" /></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div th:insert="footer :: copy"></div>
    <div th:insert="footer :: copy"></div>
    <div th:insert="footer :: copy"></div> -->
        <!-- <input type="checkbox" /> -->
      </section>
    </main>
  </body>
  <!-- <footer th:fragment="copy"> -->
  <!-- &copy; 2011 The Good Thymes Virtual Grocery -->
  <!-- </footer> -->
</html>
